
    ul {
        color: rgb(8, 8, 8);
        display: flex;
        justify-content: center; 
        list-style-type: none;
        padding: 0;
        margin: 0 auto; 
        max-width: 800px;
        margin-bottom: 3px;;
}

li {
    margin: 0 10px; 
}

li a {
    display: block;
    color: rgb(19, 1, 1);
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    transition: background-color 0.3s; 
    font-weight: 600;
    border-radius: 114px;
   
}

li a:hover {
    background-color: #edb7b7;
}

.active{

    background-color: #edb7b7;
}

