.number{
    border: 5px;
    color: blueviolet;
    border-radius: 3px;
    font-display: 5px;
    font-weight: 800px;
    background-color: beige;
    height: 40px;
    text-align: center;
    padding: 1.2rem
  
 
    
}